h1, h2, h3, h4 {
    color: #f9d342;
}
.color-yellow {
    color: #f9d342;
}
.background-dark {
    background: #292826;
}
.color-white {
    color: white;
}
body {
    font-family: 'Roboto', sans-serif;
}

