{% extends 'app/base.html'%}

{% block content %}
    <div class="container">
        <h2>Restaurace: {{ facility.name }}</h2>
        <p>Adresa: {{ facility.address }}</p>
        <p>Otevreno: {{ facility.opening_time }} - {{ facility.closing_time }}</p>
        <p>{{ facility.state }}</p>
        <form method="POST">
            {% csrf_token %}
            <ul class="list-group">
                {% for offer in facility.offers.all %}
                    <h3>Nabidka {{ forloop.counter0 }}: {{ offer.name }}, Typ:  {{ offer.variant }}</h3>
                    <li class="list-group-item">
                        <ul class="list-group">
                            {% for item in offer.items.all %}
                                <li class="list-group-item">
                                    {% comment %} Image with no image available picture when item.img is not set {% endcomment %}
                                    <img style="width: 200px;" 
                                        src="{% if item.img %}{{ item.img.url }}{% endif %}" 
                                        onerror="this.onerror=null; this.src='/static/imgs/Default.jpg'"
                                    >
                                    <h4>{{ item.name }}</h4>
                                    <p>Typ: {{ item.variant }}</p>
                                    <p>Cena: {{ item.price }} Kč</p>
                                    <label>
                                        Množství:
                                        <input type="number" name="{{ offer.pk }};{{ item.pk }}"min="0" value="0">
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
            <button type="submit">Order</button>
        </form>
    </div>
{% endblock %}