{% extends 'app/base.html' %}
{% load auth_extras %}
{% block content %}
<h5>DRIVER</h5>

{% if user.is_authenticated %}
    {% if user|has_group:'Driver' %}
        <form action='' method='GET'> {% csrf_token %}
            {# filter by facility #}
            <select name='filter_facility'>
                <option {% if filter_facility == 'all' %} selected='selected' {% endif %} value='all'> --- </option>
                {% for fac in facilities %}
                    <option {% if filter_facility == fac.id %} selected='selected' {% endif %} value={{ fac.id }}>{{ fac.name }}</option>
                {% endfor %}
            </select>

            {# fitler by state #}
            <select name='filter_state'>
                <option value='all' {% if filter_state == 'all' %} selected='selected' {% endif %}> --- </option>
                <option value='A' {% if filter_state == 'A' %} selected='selected' {% endif %}> akceptováno </option>
                <option value='D' {% if filter_state == 'D' %} selected='selected' {% endif %}> na cestě </option>
                <option value='F' {% if filter_state == 'F' %} selected='selected' {% endif %}> vyřízeno </option>
            </select>

            {# filter by date #}
            <input type='date' name='filter_date' value={{ filter_date }} />

            <button type='submit'>Filtruj</button>
        </form>

        {% if orders %}
            <ul>
                {% for order in orders %}
                    <li>
                        <h3> {{ forloop.counter }}. Objednávka<br></h3>
                        {# {{ order.items }}<br> #}
                        datum: {{ order.date }}<br>
                        cena: {{ order.price }}<br>
                        restaurce: {{ order.belongs_to }}<br>
                        příjemce: {{ order.created_by }}<br>

                        {% if order.state == 'A' %}
                            stav: akceptováno
                        {% elif order.state == 'D' %}
                            stav: na cestě
                        {% elif order.state == 'F' %}
                            stav: vyřízeno
                        {% endif %}
                        <br>

                        {% if order.state != 'F' %}
                            <form action="" method="POST"> {% csrf_token %}
                                <input type="hidden" name="order_id" value={{ order.id }} />
                                <button type="submit">Hotovo</button>
                            </form>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Zadne objednavky.</p>
        {% endif %}
    {% else %}
        Tato stránka je pouze pro řidiče!<br>
        <a href="{% url 'index' %}" > zpět </a><br>
    {% endif %}
{% else %}
    Musíte se nejdřív přihlásit!<br>
    <a href="{% url 'login' %}" > přihlasit se </a><br>
{% endif %}
{% endblock %}
