{% extends 'app/base.html' %}

{% load model_extras %}
{% block content %}
<div class="shadow container mt-5 pb-5">
    <h1>Provozovny</h1>
    <div class="d-flex flex-wrap facilities-list">
    {% for facility in facilities %}
        <div class="shadow facility-entry">
            <h3>{{ facility.name }}</h3>
            <p><i class="fas fa-thumbtack color-yellow"></i> Adresa: {{ facility.address }}</p>
            <p><i class="fas fa-clock color-yellow"></i> Otevírací doba: {{ facility.opening_time }} - {{ facility.closing_time }}</p>
            {% if facility|fac_is_open %}
                <p><i class="fas fa-circle online-symbol"></i> Otevřeno</p>
            {% else %}
                <p><i class="fas fa-circle offline-symbol"></i> Zavřeno</p>
            {% endif %}
            <a class="btn btn-warning btn-block" href="{% url  'facility_detail' facility.id %}">Vybrat</a>
        </div>
    {% endfor %}
    </div>  
</div>
{% endblock %}