{% block drinks %}

<h3> Nápoje </h3>

    {# find drink #}
    <form action="#" method="get">
        <p><label for="select">Výběr nápoje:</label>
        <select id="select" class="form-control" onchange="if(this.value != '0') window.location.href = '?selected_drink=' +  this.value + '&amp;type=drink';">
            <option value="0" selected disabled hidden>Vyberte nápoj</option>
            {% for drink in drinks %}
                <option value="{{ drink.name }}" {% if drink.name == selected_drink.name %} selected {% endif %}>{{ drink.name }}</option>
            {% endfor %}
        </select></p>
    </form>

    {# delete drink #}
    {% if drink_deleted == '0' %}
        <p class="font-weight-bold text-success">Nápoj vymazán!</p>
    {% elif drink_deleted == '1' %}
        <p class="font-weight-bold text-danger">Chyba při mazání nápoje!</p>
    {% endif %}

    <form action="{% url 'delete_drink' %}" method="POST"> {% csrf_token %}
        <input type="hidden" name="name" value="{{ selected_drink.name }}"/>
        <input type="hidden" name="next_url" value="{{ request.path }}"/>
        <input type="hidden" name="type" value="drink"/>
        <input type="submit" class="btn btn-danger mb-2" value="Smazat nápoj"/>
    </form>

    {# edit drink #}
    <div class="pt-2">
        <form action="{% url 'edit_drink' %}" method="POST"> {% csrf_token %}
            {{ drink_form.as_p }}

            {% if drink_changed == '0' %}
                <p class="font-weight-bold text-success">Hodnoty úspěšně změněny!</p>
            {% elif drink_changed == '1' %}
                <p class="font-weight-bold text-danger">Hodnoty nebyly změněny, špatný formát v některém poli!</p>
            {% endif %}

            <input type="hidden" name="name" value="{{ selected_drink.name }}"/>
            <input type="hidden" name="next_url" value="{{ request.get_full_path }}"/>
            <input type="hidden" name="type" value="drink"/>
            <input type="submit" class="btn btn-warning mb-2" value="Potvrdit změny"/>
        </form>
    </div>

    {# create new drink #}
    <div class="col-sm">
        <div>
            <h3>Vytvoření nového nápoje</h3>
            <form action="{% url 'create_drink' %}" method="POST"> {% csrf_token %}
                <p>
                    <label for="new_drink_name">Název nápoje:</label>
                    <input type="text" name="new_drink_name" class="form-control" required="" >
                </p>
                <p>
                    <label for="new_drink_price">Cena:</label>
                    <input type="text" name="new_drink_price" class="form-control" required="" >
                </p>
                <p>
                    <label for="new_drink_volume">Objem (ml):</label>
                    <input type="text" name="new_drink_volume" class="form-control" required="" >
                </p>
                <input type="hidden" name="next_url" value="{{ request.path }}"/>
                <input type="hidden" name="type" value="food"/>

                {# write out the details of operation #}
                {% if new_drink == "0" %}
                    <p class="font-weight-bold text-success">Nápoj vytvořeno!</p>
                {% elif new_drink == "1" %}
                    <p class="font-weight-bold text-danger">Chyba při vytváření nápoje!</p>
                {% elif new_drink == "2" %}
                    <p class="font-weight-bold text-danger">Nápoj již existuje!</p>
                {% endif %}

                <input type="submit" class="btn btn-warning mb-2" value="Přidat nápoj">
            </form>
        </div>
    </div>

{% endblock %}