{% block order_list %}
    <div class="card mt-3 mx-auto">
        <div class="card-header">
            <h5 class="card-title">{{ order_data.order.belongs_to }}</h5>
            <h6 class="card-subtitle text-muted">Číslo: {{ order_data.order.pk }}, Vytvořeno: {{ order_data.order.date }}</h6>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-6 font-weight-bold">Stav objednávky:</div>
                    {% if order_data.order.state == "A" %}
                        <div class="col-md-6 text-right text-success">Přijata</div>
                    {% elif order_data.order.state == "D" %}
                        <div class="col-md-6 text-right">Na cestě</div>
                    {% elif order_data.order.state == "F" %}
                        <div class="col-md-6 text-right">Doručena</div>
                    {% else%}
                        <div class="col-md-6 text-right">Neznámý</div>
                    {% endif %}
            </div>
        </div>

        <ul class="list-group list-group-flush">

            {% for item in order_data.items %}
                <li class="list-group-item">
                    <div class="row ">
                        <div class="col-sm-auto">
                            <img style="height: 50" src="https://www.donantonio.cz/cache/40/16/4016bdbec2f9-59-336x250-centered_crop.jpg" class="img-fluid">
                        </div>
                        <!--TODO: obrazek YAY or NAY?-->
                        <div class="col-sm-auto px-2">{{ item.count }}x </div>
                        <div class="col-sm-auto px-0  font-weight-bold">{{ item.item.name }}</div>
                        <div class="col text-right">á {{ item.item.price }} Kč</div>
                    </div>
                </li>
            {% endfor %}

            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-6 font-weight-bold">Celkem:</div>
                    <div class="col-md-6 text-right">{{ order_data.order.price }} Kč</div>
                </div>            
            </li>

        </ul>

    </div>
{% endblock %}