{% extends 'app/base.html' %}

{% block content %}

<nav>
  <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active text-warning" id="nav-orders-tab" data-toggle="tab" href="#nav-orders" role="tab" aria-controls="nav-orders" aria-selected="true">Objednávky</a>
    <a class="nav-item nav-link text-warning" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Osobní údaje</a>
  </div>
</nav>

<div class="tab-content w-50 mx-auto" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-orders" role="tabpanel" aria-labelledby="nav-orders-tab">
    
    {% if orders_with_data|length == 0 %}
      <div class="text-center pt-5">
        <h3>Žádné objednávky!</h3>
      </div>
    {% endif %}

    {% for order_data in orders_with_data %}
        {% include 'app/order_list.html'%}
    {% endfor %}
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    {% include 'app/user_info_edit.html'%}
  </div>
</div>

{% if goto_info %}
  <body onload="goto_profile()"> 
{% endif %}

{% endblock %}
