{% extends 'app/base.html '%}

{% block content %}
<h3>Skvely Profil</h3>
<p>Username: {{ user.username }}
<br>

{% if success %}
    <p>Hodnoty úspěšně změněny!
{% endif %}

<br>
<form action="{% url 'edit_user' %}" method="post">
    {% csrf_token %}
    {{ user_form.as_p }}
    <input type="submit" name = "user" value="Submit">
</form>
<br><br><br>

Password change!
<form action="{% url 'change_password' %}" method="post">
    {% csrf_token %}
    {{ password_form.as_p }}
    <input type="submit" name="password" value="Change Password">
</form>
<br><br>

{% include 'app/order_list.html'%}

{% endblock %}


